body {
	background: #607080;
	display:flex; /* MOST CRUCIAL LINE HERE!!! */
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	font: Courier;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

div.holder {
	background-color: #567;
	border-color: #678!important;
	border-style: solid;
	border-top-color: #556;
	border-left-color: #456;
	border-bottom-color: #789;
	border-right-color: #789;
}

div {
	display: flex;  /* divs need to declare it too */
	margin: 1vw;  	/* padding and margin are what */
	padding: 1vw;	/* give empty divs a "size" */
	color: #678;
	flex-direction: column;
	border-style: solid;
	border-top-color: #556;
	border-left-color: #456;
	border-bottom-color: #789;
	border-right-color: #789;
	border-width: 4px;
	border:none;
}

