body {
	background: #607080;
	display:flex; /* MOST CRUCIAL LINE HERE!!! */
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	font: Courier;
}

div.holder {
	background-color: #567;
	border-color: #678!important;
}

div {
	display: flex;  /* divs need to declare it too */
	margin: 1vw;  	/* padding and margin are what */
	padding: 1vw;	/* give empty divs a "size" */
	border-style: none;
	color: #678;
	flex-direction: column;
	border-style: inset;
	border-width: 4px;
}

div:hover {
	color: #89a;
	border-top-color: #556;
	border-left-color: #356;
	border-bottom-color: #79a;
	border-right-color: #89a;
}

