body {
	background : #123;
	display : flex; /* MOST CRUCIAL LINE HERE!!! */
	justify-content : center;
	align-items: center;
	flex-wrap: wrap;
}

div {
	display: flex;  /* divs need to declare it too */
	margin: 2vw;  	/* 1 percent of viewport width */
	padding: 2vw;
}

div.blue {
	background-color: #369;
	flex-direction:row;
}

div.green {
	background-color: #3a6;
	flex-direction:row;
}

div.yellow {
	background-color: #da3;
	flex-direction: column;
}

div.red {
	background-color: #955;
	flex-direction: column;
}
