body {
	background-color: #123;
	cursor: crosshair;
	display:flex;
	flex-direction : column;
	justify-content: center;
	align-items: center;
}

div {
	color: white;
	text-align: center;
}

#letter {
	margin-top: 5vh;
	padding: 20px;
	border: inset;
	border-color: #345;
	width: 20vw;
	font : 256px Georgia;
	vertical-align: middle;
}

#timer {
	border:  ridge;
	border-color: #345;
	padding: 5px;
	margin-top: 10vh;
}

