<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="UTF-8">   
		<style>
			#mycanvas{border:5px solid white;}
			body { background-color: #006699; }

			canvas {
				padding-left: 0;
				padding-right: 0;
				margin-left: auto;
				margin-right: auto;
				display: block;
				}
		</style>
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
	  integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>

	</head>

	<body>
		<canvas id = "mycanvas"></canvas>
		<script src="sixteens.js"></script>
	</body>
</html>
